PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=55432
DATABASE_USER=catalog
DATABASE_PASSWORD=change-me
DATABASE_NAME=catalog
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=catalog-images
S3_PUBLIC_BASE_URL=http://localhost:9000/catalog-images/
S3_ACCESS_KEY_ID=catalog
S3_SECRET_ACCESS_KEY=catalog_local_minio
S3_FORCE_PATH_STYLE=true
